<div class="auth-layout">
  <div class="auth-container">
    <!-- Logo y contenido de autenticación -->
    <div class="auth-content">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="FinSmart Logo" class="logo">
      </div>

      
      <!-- Router outlet para el contenido de autenticación -->
      <router-outlet></router-outlet>
    </div>
    <div class="auth-illustration">
      <img src="assets/images/login-illustration.svg" alt="Ilustración login">
    </div>
  </div>
</div>
