<mat-card>
  <h2>Información de Contacto</h2>
  
  <div class="contact-item">
    <mat-icon>location_on</mat-icon>
    <div>
      <h3>Oficina Principal</h3>
      <p>Av. Javier Prado Este 476</p>
      <p>San Isidro, Lima</p>
    </div>
  </div>

  <div class="contact-item">
    <mat-icon>phone</mat-icon>
    <div>
      <h3>Teléfono</h3>
      <p>(01) 123-4567</p>
      <p>Lun - Vie: 9:00 - 18:00</p>
    </div>
  </div>

  <div class="contact-item">
    <mat-icon>email</mat-icon>
    <div>
      <h3>Email</h3>
      <p>contacto&#64;finsmart.com</p>
      <p>soporte&#64;finsmart.com</p>
    </div>
  </div>

  <div class="social-links">
    <h3>Síguenos en</h3>
    <div class="social-icons">
      <a href="#" target="_blank" class="social-icon">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="#" target="_blank" class="social-icon">
        <mat-icon>linkedin</mat-icon>
      </a>
      <a href="#" target="_blank" class="social-icon">
        <mat-icon>twitter</mat-icon>
      </a>
    </div>
  </div>
</mat-card> 