.categorias {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

mat-chip {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.selected {
    background-color: #1976d2;
    color: white;
  }

  &:hover {
    background-color: #e0e0e0;
    
    &.selected {
      background-color: #1565c0;
    }
  }
} 