<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.svg" alt="Finsmart Logo" class="logo" />
    <span class="app-name">finsmart</span>
  </div>
  <div class="spacer"></div>
  <ul class="navbar-menu">
    <li><button>Solicitar Evaluación</button></li>
    <li><button>Solicitudes Actuales</button></li>
    <li><button>Solicitudes pasadas</button></li>
    <li><button>Lista Empleados</button></li>
    <li><button>Lista Empresas</button></li>
  </ul>
  <div class="navbar-user">
    <img src="assets/user-avatar.svg" alt="Usuario" class="avatar" />
  </div>
</nav>
